## ignore all files in all subdirectories (including /)
**/*

## except: all subdirectories (just folders)
!**/

## except: gitignore file (only the one in /)
!.gitignore

## except: any file in any subdirectory that matches:
!**/*.md

!**/*.cpp
!**/*.hpp
!**/*.ipp
!**/*.c
!**/*.h
!**/*.sh
!**/*.gnu
!**/*.py
!**/*.ipynb
!**/*.mat
!**/*.m
!**/*.nb


## ... continue to list any file-types you want git to track
!**/*.dat

# Also track anything put in an 'output/' directory
!**/output/*